.main {
	background-image: url(../pictures/another1.jpg);
	background-repeat: no-repeat;
	height: 524px;
	width: 497px;
	margin-top: 40px;
}
.main .word {
	font-family: "ו";
	font-size: 12px;
	color: #FFCCCC;
	text-align: center;
	float: left;
	height: 20px;
	width: 230px;
	margin-top: 425px;
	white-space: pre;
}
