a
{
    outline: none;
}
div.menuTree
{
    width: 130px;
    font-size: 20px;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
}
div.menuTree UL
{
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    display:none;
}
div.menuTree UL LI
{
    list-style: none;
    padding: 0px;
    padding-left: 15px;
    margin: 0px;
    white-space: nowrap;
    line-height: 20px;
}
div.menuTree UL LI.parent A
{
    color: #666;
    text-decoration: none;
    padding: 0px 2px;
}
div.menuTree UL LI.parent A:hover
{
    color: #103e91;
    text-decoration: underline;
}
div.menuTree UL LI.child A
{
    color: #666;
    text-decoration: none;
    padding: 0px 2px;
}
div.menuTree UL LI.child A:hover
{
    color: #103e91;
    text-decoration: underline;
}

div.menuTree UL LI.child A:active 
{
    color: #103e91;
    text-decoration: underline;
}
div.menuTree UL LI.parent
{
    BACKGROUND: url(../images/bg09.png)  left center no-repeat;
}
div.menuTree UL LI.expanded
{
    background: url(../images/bg10.png) left center no-repeat;
}
div.menuTree UL LI.parent A img
{
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
div.menuTree UL LI.parent A img.expanded
{
    background: url(../images/bg09.png) left center no-repeat;
}

div.menuTree UL LI.parent A img.parent
{
    background: url(../images/bg10.png) left center no-repeat;
}